// variables
// primary colors

$lightred-cta: hsl(356, 100%, 66%);
$verylightred-hover: hsl(355, 100%, 74%);
$verydarkblue-headings: hsl(208, 49%, 24%);

// neutral colours

$white-text: hsl(0, 0%, 100%);
$grayishblue-footertext: hsl(240, 17%, 88%);
$verydarkgb-bodycopy: hsl(207, 12%, 37%);
$footerbackground: hsl(240, 10%, 16%);
