@use "../utils/" as u;

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  font-family: "Overpass", sans-serif;
  color: whitesmoke;
}

.first-bg {
  background: linear-gradient(hsl(13, 100%, 72%), hsl(353, 100%, 62%));
  border-bottom-left-radius: u.rem(100);
  position: relative;
  overflow-x: hidden;

  @include u.breakpoint-up(medium) {
    background: linear-gradient(
      to right,
      hsl(13, 100%, 72%),
      hsl(353, 100%, 62%)
    );
  }
}

.image-hero {
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("/src/assets/images/bg-pattern-intro-desktop.svg");
    background-repeat: no-repeat;
    background-position: 32% 37%;
    background-size: 390%;

    @include u.breakpoint-up(medium) {
      background-position: 25% 53%;
      background-size: 230%;
    }
  }
}

li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: whitesmoke;
}

// these are styles offered by frontend mentor
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.display {
  display: none;
}

.display-a a {
  display: none;
}

.visible {
  display: block;
  transition: all 300ms ease-in-out;
}

// animation

.has-fade {
  visibility: hidden;
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}
.fade-in {
  animation: fade-in 200ms ease-in-out forwards;
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}
.fade-out {
  animation: fade-out 200ms ease-in-out forwards;
}
