@use "../utils/" as u;

.second-bg {
  overflow: hidden;
  margin-top: u.rem(30);
  padding-bottom: u.rem(250);
  .second {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    max-width: 90vw;
    margin-inline: auto;

    color: black;

    @include u.breakpoint-up(large) {
      max-width: 80vw;
    }

    &__header {
      font-size: u.rem(30);
      font-weight: normal;
      color: u.$verydarkblue-headings;
      text-align: center;
      margin-top: u.rem(100);
      margin-bottom: u.rem(20);

      @include u.breakpoint-up(medium) {
        margin-bottom: u.rem(80);
      }
    }
    &__row {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      @include u.breakpoint-up(medium) {
        flex-direction: row;
      }

      &--image {
        background-image: url("/src/assets/images/illustration-editor-mobile.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 120%;
        height: u.rem(400);
        margin-bottom: u.rem(40);
        position: relative;

        @include u.breakpoint-up(medium) {
          background-image: none;
          order: 1;
        }

        &::before {
          content: "";
          @include u.breakpoint-up(medium) {
            position: absolute;
            background-image: url("/src/assets/images/illustration-editor-desktop.svg");
            background-repeat: no-repeat;
            background-size: 82%;
            width: u.rem(1000);
            height: u.rem(1000);
            top: u.rem(-200);
            left: u.rem(-110);
          }
        }
      }

      &--desc {
        display: flex;
        flex-direction: column;
        gap: u.rem(50);
        line-height: 1.6;

        > .one {
          display: flex;
          flex-direction: column;
          gap: u.rem(20);
          max-width: 87%;
          margin-inline: auto;

          @include u.breakpoint-up(medium) {
            max-width: 100%;
          }

          > h3 {
            font-size: u.rem(30);
            font-weight: normal;
            color: u.$verydarkblue-headings;
            text-align: center;
            line-height: 1.2;

            @include u.breakpoint-up(medium) {
              font-size: u.rem(23);
              text-align: left;
            }
          }

          > p {
            font-weight: normal;
            color: u.$verydarkgb-bodycopy;
            text-align: center;

            @include u.breakpoint-up(medium) {
              font-size: u.rem(15);
              text-align: left;
              max-width: 72%;
            }
          }
        }
      }
    }
  }
}
